:root {
	--white-color: #fff;
	--text-color: #333;
	--black-color: #000;
}

* {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	line-height: 1.6rem;
	box-sizing: border-box;
}

.grid {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}
.grid__full-width {
	width: 100%;
}

.grid__row {
	display: flex;
	flex-wrap: wrap;
}

.header {
	height: 120px;
	background-image: linear-gradient(0, #f53e2d, #ff6433);
}
ul {
	list-style: none;
}
.navTop {
	display: flex;
	justify-content: space-between;
}
.navTop__list-item:hover,
.navTop__list-link:hover {
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.navTop__list-item,
.navTop__list-link {
	display: inline-block;
	font-size: 1.5rem;
	position: relative;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 300;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navTop__list--icon-fb,
.navTop__list--icon-ins {
	margin-left: 5px;
}
.navTop__list {
	padding: 0;
}
.navTop__list-item {
	margin: 0 8px;
}

.strongtxt {
	font-weight: bold;
}

.separate:after {
	content: '';
	border-left: 1px solid #fb9086;
	position: absolute;
	height: 16px;
	display: block;
	right: -9px;
	top: 50%;
	transform: translateY(-50%);
}

.navTop__list--icon-ins,
.navTop__list--icon-fb {
	color: #fff;
}

.nav-search{
	display: flex;
	flex-direction: row;

	align-items: center;
	flex: 1;
}
.logo{
	display: flex;
	flex-direction: row;

}
.img-logo{
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.nav-search__input{
	width: 750px;
	height: 40px;
	margin: 0 10px;
	border-radius: 5px;
	color: var(--text-color);
	text-align: start;
	
	outline: none;
	font-size: medium;
	line-height: normal;
	outline-offset: 0px;
	cursor: text;
	display: inline-block;

	align-items: center;
	position: relative;
	padding:0 10px;
	border-color: #fff;	
}
.nav-search__input{
	position: relative;
}
.logo__text{
	color: white;
	font-size: 30px;
}
.nav-search__btnSearch{
	position:absolute;
	display: block;

	width: 50px;
	height: 30px;
	justify-content:flex-end;
	top:0;	
	right: -25px;
	margin-top: 5px;
	margin-right: 10px;
	color: #fff;
	background-color: #ff6433;
	border-color: none;
	
	border: 0;
	border-radius: 2px;
	cursor: pointer;
}
.nav-search__btnSearch:hover{
	opacity: 0.9;
}
