:root {
	--white-color: #fff;
	--text-color: #333;
	--primary-color: #ff6433;
	--black-color: #000;
	--header-search: 80px;
	--header-top: 35px;
	--header-size: 130px;
}

* {
	box-sizing: inherit;
	font-size: 1.4rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
	font-size: 62.5%;
	line-height: 1.6rem;
	box-sizing: border-box;
}

.grid {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}
.grid__full-width {
	width: 100%;
}

.grid__row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}
.grid__column-10 {
	padding: 0 5px;

	width: 83.3334%;
}
.grid-column-2-4 {
	padding: 0 5px;

	width: 20%;
}
.grid__column-2 {
	padding: 0 5px;
	width: 16.6667%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes notify__growth {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* !shome  */

.btn {
	border: none;
	padding: 8px 15px;
	background-color: white;
	color: var(--black-color);
	display: inline-flex;
}

.btn-primary {
	background-color: #f53e2d;
	color: var(--white-color);
}
.home-filter {
	background-color: rgba(0, 0, 0, 0.04);
	display: flex;
	align-items: center;
	padding: 12px 22px;
	border-radius: 3px;
}
.home-filter__label {
	color: #555;
	margin-right: 20px;
	background-color: white;
}
.btn--homefilter {
	margin: 0 10px;
	border-radius: 3px;
}
.home-filter__page {
	display: flex;
	align-items: center;
}

/* home product */

.home-product {
}
